.city-list {
    display: flex;
}
.city-list li {
    list-style: none;
    text-transform: capitalize;
    font-size: 30px;
    color: rgb(155, 44, 44);
    animation-name: show;
    animation-duration: 2s;
}
.city-list li:not(:last-child) {
    margin-right: 30px;
}
.city-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}
@keyframes show {
    from{opacity: 0}
    to{opacity: 1}
}