.table-glyph {
    font-family: 'Glyphter';
}
.glyph3 {
    font-family: "Glyphter3";
    color: white;
}
small, .table-glyph, .glyph3 {
    margin-left: 5px;
}
.tab-row:hover {
    background-color: #2D9ECF;
    color: white;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
}